.services-row {
  margin-top: 80px;
}



.service-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}


.services {
  background-color: #ddedeb;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 46%;
  position: relative;
  margin-top: 8%;
}

.services img {
  display: table;
  margin-bottom: 15px;
  max-width: 100%;
  position: relative;
  border-radius: 6px;
}

.services strong {
  margin-bottom: 15px;
  display: block;
  position: absolute;
  top: -73px;
  left: 50%;
  transform: translate(-50%, 10px);
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 15px;
  color: #fff;

}

@media(max-width:992px) {
  .services {
    width: 48%;
    margin-top: 15%;
  }
}

@media(max-width:767px) {
  .services {
    width: 100%;
  }
}