.why_choose_row {
  margin-top: 30px;
}

.why_choose_row p {
  text-align: center;

}

.why_choose_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.why_choose_flex p {
  text-align: center;
}

.why_choose {
  background-color: #e9dece;
  padding: 30px 15px;
  padding-top: 50px;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 46%;
  position: relative;
  margin-top: 8%;
}

.why_choose img {
  display: table;
  margin-bottom: 15px;
  max-width: 70px;
  position: absolute;
  top: -40px;
  left: 50%;
  background-color: #3fd3a0;
  padding: 6px;
  border-radius: 6px;
  transform: translate(-50%, 0px);
}

.why_choose h4 {
  margin-bottom: 15px;
  display: block;
}


@media(max-width:992px) {
  .why_choose {
    width: 48%;
    margin-top: 15%;
  }
}

@media(max-width:767px) {
  .why_choose {
    width: 100%;
  }
}