.why_choose_row {
  margin-top: 30px;
}

.why_choose_row p {
  text-align: center;

}

.why_choose_row h2 {
  margin-bottom: 20px;
}

.why_choose_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin: 5% 0;
}

.why_choose_flex p {
  text-align: center;
}

.why_choose {
  background-color: #f1f1ec;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 48%;
  position: relative;
  margin-top: 4%;

}

.why_choose p {
  text-align: left;
  margin-bottom: 15px;
}

.why_choose_image {
  border: 1px solid #ccc;
  width: 48%;
  padding: 10px;

}

.why_choose_image img {
  border-radius: 10px;
}


.why_choose ul {
  list-style: none;
  position: relative;
  padding-left: 30px;
}

.why_choose ul li {
  font-size: 18px;
  position: relative;
  margin-bottom: 10px;
}

.why_choose ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
  left: -27px;
  border-radius: 50%;
  top: 8px;

}

.why_choose img {
  display: table;
  margin-bottom: 15px;
  max-width: 70px;
  position: absolute;
  top: -40px;
  left: 50%;
  background-color: #3fd3a0;
  padding: 6px;
  border-radius: 6px;
  transform: translate(-50%, 0px);
}

.why_choose h4 {
  margin-bottom: 15px;
  display: block;
  font-size: 24px;
}

.service_footer {
  text-align: left;
  margin-top: 30px;

}

.service_footer p {
  text-align: left;
}

@media(max-width:992px) {
  .why_choose {
    width: 48%;
    margin-top: 15%;
  }
}

@media(max-width:767px) {
  .why_choose {
    width: 100%;
  }
}