.testimonial-row {
  margin-top: 30px;
}

.testimonial-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}



.testimonial {
  background-color: #e8f3f6;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 30%;
  position: relative;
  margin-top: 3%;
  padding: 20px;
}

.testimonial img {
  display: table;
  margin-bottom: 15px;
  max-width: 100%;
  position: relative;
  border-radius: 6px;
}

.testimonial strong {
  margin-bottom: 15px;
  display: block;
  font-size: 16px;
  margin-top: 15px;
}

@media(max-width:992px) {
  .testimonial {
    width: 48%;

  }
}

@media(max-width:767px) {
  .testimonial {
    width: 100%;
  }
}